In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("cost of living.csv")

In [3]:
data

      Country_name  Country_code  Days  Cost_of _living
0      Afghanistan             4    30     30172.460000
1    Aland Islands           248    30     30173.460000
2          Albania             8    30     30174.460000
3          Algeria            12    30     30175.460000
4          Andorra            20    30     30176.460000
..             ...           ...   ...              ...
538      Venezuela           862     7      7057.781395
539        Vietnam           704     7      7058.013953
540          Yemen           887     7      7058.246512
541         Zambia           894     7      7058.479070
542       Zimbabwe           716     7      7058.711628

[543 rows x 4 columns]

In [4]:
data["Cost_of _living"]=np.round(data["Cost_of _living"],decimals=0)
data

      Country_name  Country_code  Days  Cost_of _living
0      Afghanistan             4    30          30172.0
1    Aland Islands           248    30          30173.0
2          Albania             8    30          30174.0
3          Algeria            12    30          30175.0
4          Andorra            20    30          30176.0
..             ...           ...   ...              ...
538      Venezuela           862     7           7058.0
539        Vietnam           704     7           7058.0
540          Yemen           887     7           7058.0
541         Zambia           894     7           7058.0
542       Zimbabwe           716     7           7059.0

[543 rows x 4 columns]

In [5]:
data.dtypes

Country_name        object
Country_code         int64
Days                 int64
Cost_of _living    float64
dtype: object

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x=data[["Country_code",'Days']]
y=data[['Cost_of _living']]
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2)

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

In [9]:
model=tree.DecisionTreeClassifier()
model.fit(inputs,target)

NameError: name 'inputs' is not defined

In [ ]:
model.score(inputs,target)

In [100]:
model.predict([[4,30]])

array([30172.])

In [79]:
inputs=data[["Country_code",'Days']]
target=data['Cost_of _living']

In [64]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.model_selection import StratifiedKFold
from sklearn.datasets import load_digits
fold=StratifiedKFold(n_splits=4)
fold

StratifiedKFold(n_splits=4, random_state=None, shuffle=False)

In [65]:
def get_score_from_model(model,xtrain,xtest,ytrain,ytest):
    model.fit(xtrain,ytrain)
    return model.score(xtest,ytest)

In [66]:
logistic_scores=[]
rf_scores=[]
SVC_scores=[]
for train_index,test_index in fold.split(inputs,target):
    xtrain,xtest,ytrain,ytest=inputs[train_index],inputs[test_index],target[train_index],target[test_index]

/home/user/.local/lib/python3.6/site-packages/sklearn/model_selection/_split.py:668: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)

KeyError: "None of [Int64Index([  1,   2,   4,   5,   6,   8,   9,  10,  12,  13,\n            ...\n            531, 532, 534, 535, 536, 538, 539, 540, 541, 542],\n           dtype='int64', length=407)] are in the [columns]"