In [30]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
data=pd.read_csv('spam.csv')
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [31]:
dummies=pd.get_dummies(data.Category)
data=pd.concat([data,dummies.spam],axis=1)
data

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [32]:
data=data.drop(["Category"],axis=1)

In [33]:
data

                                                Message  spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...     1
5568               Will ü b going to esplanade fr home?     0
5569  Pity, * was in mood for that. So...any other s...     0
5570  The guy did some bitching but I acted like i'd...     0
5571                         Rofl. Its true to its name     0

[5572 rows x 2 columns]

In [34]:
X_train,X_test,y_train,y_test=train_test_split(data.Message,data.spam)

In [35]:
cv=CountVectorizer()

In [36]:
xtrain_counter=cv.fit_transform(X_train.values)

In [37]:
xtrain_counter

<4179x7613 sparse matrix of type '<class 'numpy.int64'>'
	with 55772 stored elements in Compressed Sparse Row format>

In [38]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(xtrain_counter,y_train)

MultinomialNB()

In [39]:
emails = [ 'Hey mohan, can we get together to watch footbal game tomorrow?','Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!']
emails_counter=cv.transform(emails)

In [40]:
model.predict(emails_counter)
print(emails_counter)

  (0, 1589)	1
  (0, 3002)	1
  (0, 3051)	1
  (0, 3344)	1
  (0, 6810)	1
  (0, 6820)	1
  (0, 6836)	1
  (0, 7269)	1
  (0, 7285)	1
  (1, 332)	1
  (1, 2293)	1
  (1, 2356)	1
  (1, 2874)	1
  (1, 3792)	1
  (1, 4420)	1
  (1, 4813)	1
  (1, 4851)	1
  (1, 5009)	1
  (1, 5683)	1
  (1, 6731)	1
  (1, 7072)	1
  (1, 7574)	1

In [41]:
model.score(cv.transform(X_test),y_test)

0.9892318736539842

In [42]:
#Using pipeline

In [43]:
from sklearn.pipeline import Pipeline
p=Pipeline([('v',CountVectorizer()),('mnb',MultinomialNB())])
p.fit(X_train,y_train)
p.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [44]:
X_test

3811                  Aight, can you text me the address?
5050    Edison has rightly said, "A fool can ask more ...
2559    Some friends want me to drive em someplace, pr...
207     As I entered my cabin my PA said, '' Happy B'd...
4846                    Missing you too.pray inshah allah
                              ...
4725    FREE GAME. Get Rayman Golf 4 FREE from the O2 ...
1757    Lmao ok I wont be needing u to do my hair anym...
3116                     I wait 4 ü inside da car park...
3146           I.ll get there tomorrow and send it to you
4895                             Convey my regards to him
Name: Message, Length: 1393, dtype: object