In [ ]:
#kmeans

In [ ]:
from sklearn.cluster import KMeans
import pandas as pd
from matplotlib import pyplot as plt

In [ ]:
#flower data set

In [ ]:
from sklearn.datasets import load_iris
iris=load_iris()

In [ ]:
dir(iris)

In [ ]:
iris.feature_names

In [ ]:
data=pd.DataFrame(iris.data,columns=iris.feature_names)

In [ ]:
data

In [ ]:
data=data.drop(["sepal length (cm)"],axis='columns')

In [ ]:
data=data.drop(["sepal width (cm)"],axis='columns')

In [ ]:
data

In [ ]:
data.head

In [ ]:
plt.scatter(data["petal length (cm)"],data["petal width (cm)"])
plt.xlabel('Petal lennth')
plt.ylabel('Petal width')

In [ ]:
sse= []
k_range=range(1,len(data))
for k in k_range:
    km=KMeans(n_clusters=k)
    km.fit(data[['petal length (cm)','petal width (cm)']])
    sse.append(km.inertia_)
sse

In [ ]:
plt.xlabel('K')
plt.ylabel('Sum of squared error')
plt.plot(k_range,sse)

In [ ]:
#Dummy

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn import linear_model
data=pd.read_csv('carprices.csv')

In [2]:
data

                Car_Model  Mileage  Sell_Price  Age(yrs)
0                  BMW X5    69000       18000         6
1                  BMW X5    35000       34000         3
2                  BMW X5    57000       26100         5
3                  BMW X5    22500       40000         2
4                  BMW X5    46000       31500         4
5                 Audi A5    59000       29400         5
6                 Audi A5    52000       32000         5
7                 Audi A5    72000       19300         6
8                 Audi A5    91000       12000         8
9   Mercedez Benz C class    67000       22000         6
10  Mercedez Benz C class    83000       20000         7
11  Mercedez Benz C class    79000       21000         7
12  Mercedez Benz C class    59000       33000         5

In [3]:
dummies=pd.get_dummies(data.Car_Model)
merge=pd.concat([data,dummies],axis=1)
merge=merge.drop(['Car_Model'],axis=1)
merge

    Mileage  Sell_Price  Age(yrs)  Audi A5  BMW X5  Mercedez Benz C class
0     69000       18000         6        0       1                      0
1     35000       34000         3        0       1                      0
2     57000       26100         5        0       1                      0
3     22500       40000         2        0       1                      0
4     46000       31500         4        0       1                      0
5     59000       29400         5        1       0                      0
6     52000       32000         5        1       0                      0
7     72000       19300         6        1       0                      0
8     91000       12000         8        1       0                      0
9     67000       22000         6        0       0                      1
10    83000       20000         7        0       0                      1
11    79000       21000         7        0       0                      1
12    59000       33000         5        0       0                      1

In [4]:
X=merge.drop(['Sell_Price'],axis=1)
Y=merge.Sell_Price
model=linear_model.LinearRegression()
model.fit(X,Y)

LinearRegression()

In [5]:
model.predict([[45000,4,0,0,1]])

array([36991.31721061])

In [6]:
model.predict([[86000,7,0,1,0]])

array([11080.74313219])

In [7]:
model.score(X,Y)

0.9417050937281083

In [8]:
#One_Hot_Encoder

In [9]:
x=merge.drop(['Sell_Price'],axis=1)
y=merge.Sell_Price

In [10]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ts = ColumnTransformer(transformers=[("abc", OneHotEncoder(), [1] )],remainder='passthrough' )
X = ts.fit_transform(X)

In [11]:
X

array([[0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 0.00e+00,
        0.00e+00, 6.90e+04, 0.00e+00, 1.00e+00, 0.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00,
        0.00e+00, 3.50e+04, 0.00e+00, 1.00e+00, 0.00e+00],
       [0.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00,
        0.00e+00, 5.70e+04, 0.00e+00, 1.00e+00, 0.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00,
        0.00e+00, 2.25e+04, 0.00e+00, 1.00e+00, 0.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 0.00e+00,
        0.00e+00, 4.60e+04, 0.00e+00, 1.00e+00, 0.00e+00],
       [0.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00,
        0.00e+00, 5.90e+04, 1.00e+00, 0.00e+00, 0.00e+00],
       [0.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00,
        0.00e+00, 5.20e+04, 1.00e+00, 0.00e+00, 0.00e+00],
       [0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 0.00e+00,
        0.00e+00, 7.20e+04, 1.00e+00, 0.00e+00, 0.00e+00],
       [0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00,
        1.00e+00, 9.10e+04, 1.00e+00, 0.00e+00, 0.00e+00],
       [0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 0.00e+00,
        0.00e+00, 6.70e+04, 0.00e+00, 0.00e+00, 1.00e+00],
       [0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 1.00e+00,
        0.00e+00, 8.30e+04, 0.00e+00, 0.00e+00, 1.00e+00],
       [0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 1.00e+00,
        0.00e+00, 7.90e+04, 0.00e+00, 0.00e+00, 1.00e+00],
       [0.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00,
        0.00e+00, 5.90e+04, 0.00e+00, 0.00e+00, 1.00e+00]])

In [12]:
model=linear_model.LinearRegression()
model.fit(x,y)

LinearRegression()

In [13]:
model.predict([[45000,4,0,0,1]])

array([36991.31721061])

In [14]:
model.score(x,y)

0.9417050937281083

In [15]:
model.predict([[86000,7,0,1,0]])

array([11080.74313219])